<div class="container">
    <div class="row">
        <div class="col">
            <h1>Resultados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador 1</th>
                    <th scope="col">Jugador 2</th>
                    <th scope="col">Jugador 3</th>
                    <th scope="col">Ganador</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let partida of partidas">
                    <th scope="row">{{partida.id}}</th>
                    <td>{{partida.jugador1}}</td>
                    <td>{{partida.jugador2}}</td>
                    <td>{{partida.jugador3}}</td>
                    <td>{{partida.ganador}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>