<div class="container text-center">
    <div class="row">
        <div class="col">
          <h3>¡Elige jugadores!</h3>
          <!--Futuro get-->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>Jugador 1</h4>
          <select name="j1" id="1">
            <option value="1">Selecciona jugador</option>
            <option value="1">Jugador 1</option>
            <option value="2">Jugador 2</option>
            <option value="3">Jugador 3</option>
          </select>
        </div>
        <div class="col">
          <h4>Jugador 2</h4>
          <select name="j1" id="1">
            <option value="1">Selecciona jugador</option>
            <option value="1">Jugador 1</option>
            <option value="2">Jugador 2</option>
            <option value="3">Jugador 3</option>
          </select>
        </div>
        <div class="col">
          <h4>Jugador 3</h4>
          <select name="j1" id="1">
            <option value="1">Selecciona jugador</option>
            <option value="1">Jugador 1</option>
            <option value="2">Jugador 2</option>
            <option value="3">Jugador 3</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Dinero inicial</h3>
            <input type="text" placeholder="Cantidad">
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <button type="button" routerLink="/inicio-jugar">¡Empezar!</button>
        </div>
    </div>
</div>