<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="title">{{title | uppercase}}</h1>
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!--Nav-Bar-->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!--Vistas-->
      <app-inicio></app-inicio>
      <app-registrar></app-registrar>
      <app-resultados></app-resultados>
      <app-inicio-jugar></app-inicio-jugar>
    </div>
  </div>
</div>

