<div class="container">
    <div class="row">
        <div class="col">
            <h3>Ronda {{nRonda}}</h3>
        </div>
    </div>
    <!--IMPORTANTE: conseguir que el indicador de jugador siempre esté posicionado a la izquierda, que no sea responsive
    con las cartas-->
    <!--Esto corresponde a un jugador. En realidad, esto se repetirá por cada jugador que haya-->
    <div class="row">
        <div class="col" *ngFor="let jugador of jugadores">
            <app-jugador [cartaRecibida]="cartaSacada" [nombre]="jugador.nombre" [dinero]="jugador.dinero" [banca]="jugador.banca"></app-jugador>
        </div>
    </div>
    <div class="row">
        <div class="col-2" *ngFor="let carta of cartasMesa">
            <img [src]="carta.img" alt="carta.img" class="img-fluid">
        </div>
    </div>
    
    <!-------------------->
    
    <!--A partir de aquí pueden aparecer distintos componentes según el estado del juego:-->
    <!--Durante una ronda:-->
    <div class="row">
        <div class="col">
            <h4>Bote</h4>
            <input type="text" disabled>
        </div>
        <div class="col">
            <h4>Apuesta</h4>
            <input type="text">
            <!--br provisional-->
            <br>
            <button (click)="SacarCarta()">Pedir carta</button>
        </div>
    </div>
    <!--Al acabar una ronda:-->
    <div class="row">
        <div class="col">
            <button routerLink="/inicio-elegir">Terminar partida</button>
        </div>
        <div class="col">
            <button (click)="CrearBaraja()" (click)="SiguienteRonda()">Siguiente ronda</button>
        </div>
    </div>
</div>