<div class="container">
    <div class="row">
        <div class="col" *ngFor="let jugador of jugadores">
            <app-jugador [nombre]="jugador.nombre" [banca]="jugador.banca" [suma]="jugador.suma.toString()"></app-jugador>
        </div>
    </div>
    <div class="row">
        <div class="col-2" *ngFor="let carta of cartasMesa">
            <img *ngIf="!carta.bocaArriba" (click)="CambiarOrientacion(carta)" (mouseenter)="onMouseEnter(carta)" (mouseleave)="onMouseLeave(carta)" [src]="hover ? carta.img : 'assets/images/dorso.png'" alt="carta.img" class="img-fluid">
            <img *ngIf="carta.bocaArriba" (click)="CambiarOrientacion(carta)" (mouseleave)="onMouseLeave(carta)" [src]="carta.img" alt="carta.img" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="SiguienteTurno()" [disabled]="jugadores[0].turnoTerminado && jugadores[1].turnoTerminado && jugadores[2].turnoTerminado">{{textoTurno}}</button>
            <button type="button" class="btn btn-primary" (click)="SacarCarta()" [disabled]="sumaMesa == -1 || jugadores[0].turnoTerminado && jugadores[1].turnoTerminado && jugadores[2].turnoTerminado">Pedir carta</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success" routerLink="/resultados" (click)="VerResultados()" *ngIf="jugadores[0].turnoTerminado && jugadores[1].turnoTerminado && jugadores[2].turnoTerminado">Ver resultados</button>
        </div>
    </div>
</div>